<header class="w-full border-gray-200 bg-[#FAFAFA] overflow-x-hidden px-8">
  <nav class="container mx-auto h-16 flex justify-between items-center px-6">
    <!-- Left Menu -->
    <ul class="flex items-center gap-6 text-sm font-medium">
      <li><a href="/collection" class="text-[#232321] text-base font-semibold">New Drops 🔥</a></li>
      <li><a href="/collection" class="text-[#232321] text-base font-semibold">Men</a></li>
      <li><a href="/collection" class="text-[#232321] text-base font-semibold">Women</a></li>
    </ul>

    <!-- Logo -->
    <div class="flex justify-center items-center">
      <a href="/#"> 
       <img
          class="block w-full h-full object-center object-cover cursor-pointer"
          src="{{ 'icon-logo.svg' | asset_url }}"
          alt="Logo Image"
          width=""
          height=""
        /> 
    </a>
      
      {% comment %} <a href="/" class="text-2xl font-extrabold tracking-widest">KICKS</a> {% endcomment %}
    </div>

    <!-- Right Icons -->
    <div class="flex items-center gap-6">
      <!-- Search -->
      <button class="hover:text-gray-600">
         <img
          class="block w-full h-[28px] w-[28px] object-center object-cover"
          src="{{ 'icon-search.svg' | asset_url }}"
          alt="Search-icon Image"
          width=""
          height=""
        /> 
      </button>

      <!-- User -->
      <button class="hover:text-gray-600">
         <img
          class="block w-full h-[24px] w-[24px] object-center object-cover"
          src="{{ 'icon-user.svg' | asset_url }}"
          alt="Profile-image"
          width=""
          height=""
        /> 
      </button>

      <div class="relative">
        <span class="absolute -top-4 bg-[#FFA52F] text-black text-xs font-bold w-5 h-[32px] w-[32px] rounded-full flex items-center justify-center">0</span>
      </div>
    </div>
  </nav>
</header>


{% comment %} <header class="w-full h-[1320px] border-b border-b-gray-200 relative px-10 py-8">
    <nav class="container mx-auto h-[60px] flex justify-between items-center">
    <!-- Menu -->
    <ul class="hidden xl:flex xl:justify-center xl:items-center xl:gap-6">
      <li class="hidden xl:block xl:text-xs xl:font-medium">
        <a href="/collection">New Drops 🔥</a>
      </li>
      <li class="hidden xl:block xl:text-xs xl:font-medium">
        <a href="/collection">Men</a>
      </li>
      <li class="hidden xl:block xl:text-xs xl:font-medium">
        <a href="/collection">Woman</a>
      </li>
  
    </ul>
    <!-- End Menu -->
    <!-- Logo -->
    <div class="block">
      <a class="block w-[128px] h-[32px] sm:w-36 lg:w-44 xl:w-52" href="/">
       <img
          class="block w-full h-full object-center object-cover"
          src="./assets/Logo.svg"
          alt="Logo Image"
        /> 
      </a>
    </div>
    <!-- End Logo -->
    <!-- Search and Icons -->
    <div class="flex justify-center items-center gap-6">
      <!-- Search -->
      <div class="hidden sm:w-2xs sm:block sm:border-b sm:border-b-gray-200">
        <div
          class="hidden sm:h-[40px] sm:flex sm:justify-center sm:items-center sm:gap-2"
        >
          <span class="hidden sm:block">
            {% comment %} <img
              class="hidden sm:block sm:w-5 sm:h-5"
              src="../../src/svgs/search.svg"
              alt="search icon"
            /> {% endcomment %}
          </span>
          <span class="hidden sm:block">
            <input
              class="hidden sm:block sm:text-xs sm:h-[40px] sm:border-none sm:outline-none sm:bg-transparent"
              type="search"
              placeholder="Search for products and brands..."
            />
          </span>
        </div>
      </div>
      <!-- End Search -->
      <!-- Icons -->
      <div class="flex w-20 justify-between items-center sm:w-32">
        <!-- User icon -->
        <div class="hidden xl:block xl:relative">
          <span class="hidden sm:block sm:cursor-pointer userIcon">
            {% comment %} <img
              class="sm:w-7 sm:h-7"
              src="../../src/svgs/user.svg"
              alt="user icon"
            /> {% endcomment %}
          </span>
          <div
            class="hidden userBlock xl:block xl:bg-white xl:border border-gray-200 rounded-sm shadow-lg xl:w-80 xl:p-5 xl:absolute xl:top-40 xl:-right-8 xl:opacity-0 xl:duration-300 xl:ease-in-out xl:z-40"
          >
            <div
              class="xl:flex xl:flex-col xl:justify-center xl:items-center xl:gap-2"
            >
              <h6 class="xl:text-base xl:font-medium xl:text-center">
                Your account
              </h6>
              <p class="xl:text-sm xl:text-center">
                Login if you are an existing Angeldren customer or register to
                make ordering simple
              </p>
              <a
                href="#"
                class="xl:text-sm xl:text-center xl:bg-blue-700 xl:rounded-sm xl:px-6 xl:py-3 xl:text-white block"
                >Login/Register</a
              >
            </div>
          </div>
        </div>
        <!-- heart  -->
        <span>
          {% comment %} <img
            class="w-7 h-7"
            src="../../src/svgs/heart.svg"
            alt="heart icon"
          /> {% endcomment %}
        </span>
        <!-- bag  -->
        <span>
          {% comment %} <img class="w-7 h-7" src="../../src/svgs/bag.svg" alt="bag icon" /> {% endcomment %}
        </span>
      </div>
      <!-- End Icons -->
      <!-- Hamburger icon -->
      <div class="block cursor-pointer xl:hidden">
        <span class="block w-7 h-7 hamburger">
          {% comment %} <img
            class="block w-7 h-7"
            src="shoppy-x-ray.svg"
            alt="menu icon"
          /> {% endcomment %}
        </span>
      </div>
      <!-- End Hamburger icon -->
    </div>
    <!-- End Search and Icons -->
  </nav>
</header> {% endcomment %}